In [5]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

# from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

iris = pd.read_csv('iris.csv')
iris.sample(10)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
4             5.0          3.6           1.4          0.2      setosa
114           5.8          2.8           5.1          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
121           5.6          2.8           4.9          2.0   virginica
50            7.0          3.2           4.7          1.4  versicolor
82            5.8          2.7           3.9          1.2  versicolor
76            6.8          2.8           4.8          1.4  versicolor
126           6.2          2.8           4.8          1.8   virginica
42            4.4          3.2           1.3          0.2      setosa
112           6.8          3.0           5.5          2.1   virginica

In [6]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [114]:
iris['Species'].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [9]:
# perform label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# transform the string labels to integer
iris['Species'] = le.fit_transform(iris['Species'].to_numpy())
iris.sample(10)

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [12]:
# input data
X = iris.drop(columns=['Species'])
# output data
Y = iris['Species']
X, Y

(     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
 0             5.1          3.5           1.4          0.2
 1             4.9          3.0           1.4          0.2
 2             4.7          3.2           1.3          0.2
 3             4.6          3.1           1.5          0.2
 4             5.0          3.6           1.4          0.2
 ..            ...          ...           ...          ...
 145           6.7          3.0           5.2          2.3
 146           6.3          2.5           5.0          1.9
 147           6.5          3.0           5.2          2.0
 148           6.2          3.4           5.4          2.3
 149           5.9          3.0           5.1          1.8

 [150 rows x 4 columns],
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 145    2
 146    2
 147    2
 148    2
 149    2
 Name: Species, Length: 150, dtype: int64)

In [17]:
# data split
from sklearn.model_selection import train_test_split
## train - 80%
## test - 20%
# split the data for train and test
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=12345)

In [20]:
# build a prediction model

# knn - k-nearest neighbours
# from sklearn.neighbors import KNeighborsClassifier
# model = KNeighborsClassifier()

# decision tree
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [22]:
# predict
y_pred = model.predict(x_test)
y_pred, y_test

(array([1, 0, 1, 0, 0, 0, 1, 0, 1, 2, 0, 2, 1, 2, 2, 2, 0, 2, 1, 1, 1, 1,
        0, 1, 0, 2, 0, 1, 0, 2]),
 69     1
 42     0
 56     1
 35     0
 16     0
 24     0
 73     1
 10     0
 94     1
 134    2
 17     0
 148    2
 85     1
 70     1
 110    2
 104    2
 28     0
 128    2
 92     1
 65     1
 84     1
 90     1
 33     0
 71     1
 47     0
 100    2
 4      0
 55     1
 2      0
 123    2
 Name: Species, dtype: int64)

In [23]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
# print metric to get performance
print("Accuracy: ", model.score(x_test, y_test))

Accuracy:  0.9666666666666667

In [121]:
conf_matrix = confusion_matrix(y_true=y_test, y_pred=y_pred)
conf_matrix

array([[11,  0,  0],
       [ 0, 11,  1],
       [ 0,  0,  7]])

In [24]:
(11+11+7)/(11+11+7+1)

0.9666666666666667